<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.0.0-alpha05" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha05" targetFramework="net472" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net472" />
  <package id="Telegram.Bot" version="15.7.1" targetFramework="net472" />
</packages>